.main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}
// .products {
//     display: flex;
//     flex-wrap: wrap;
// }
.btns {
    padding-bottom: 13px;
    text-align: right;
}
.swiper-pagination {
    position: relative;
}
.promo-title {
    @include h2();

    @media screen and (max-width: 992px) {
        display: none;
    }
}
.promo-title-mobile {
    display: none;
    @include h2();

    @media screen and (max-width: 992px) {
        display: inline;
    }
}
.swiper-pagination-bullet {
    position: relative;
    margin-left: 20px;
    width: 32px;
    height: 32px;
    border: 1px solid $mainText;
    opacity: 1;
    border-radius: 50%;
    background-color: $white;
    transition: all 0.3s ease-in;
    background-image: url(../../img/nextArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    outline-style: none;

    @media screen and (max-width: 992px) {
        display: none;
    }

    &:hover {
        border: 1px solid $pink;
        background-image: url(../../img/pinkArrowNext.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}
// .next:hover {
//     cursor: pointer;
//     border: 1px solid $pink;
//     background-image: url(../../img/pinkArrowPrev.svg);
    
//     .icon-next {
//         fill: $pink;
//     }
// }
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 1px solid $greyLines;
    background-image: url(../../img/prevArrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    

    &:hover {
        cursor: pointer;
        background: $greyFills;
        background-image: url(../../img/pinkArrowPrev.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}
.icon-prev,
.icon-next {
    height: 32px;
    width: 32px;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}
.icon-prev {
    transform: rotate(90deg);
}
.icon-next {
    transform: rotate(-90deg);
}
.product-characteristics {
    display: none;
    transition: all 0.3s ease-in;
}
.product-title {
    padding-bottom: 24px;
    @include subtitle-2();
    font-weight: normal;
}
.btn__add {
    display: none;
}
.btn-buy {
    border: 1px solid $pink;
    border-radius: 8px;
    background-color: transparent;
    padding: 12px 16px;
    @include caption ();
    color: $pink;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in;

    @media screen and (max-width: 768px) {
        padding: 6px 8px;
    }

    &:hover {
        cursor: pointer;
    }

    &.toggle .btn__add {
        @include vertCentr();
    }

    &.toggle .btn__buy {
        display: none;
    }

    .add {
        display: none;
    }

    &.toggle .btn-buy__mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .btn__buy {
        display: none;
    }
}
.btn-buy__mobile {
    display: none;

    @media screen and (max-width: 768px) {
        display: flex;
    }
}
.add-counter {
    padding: 0 3px;
    color: $pink;
}
.plus,
.minus {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: $mainText;

    &:hover {
        background: $lightPink;
        color: $pink;
    }
}
.add-symbol {
    position: absolute;
    top: 13%;
    left: 39%;
}
// .products {
//     overflow: hidden;
//     flex-wrap: nowrap;
//     height: 450px;
//     position: relative;
// }
// .products-box {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     transition: margin-left 250ms;
//     width: 100%;
// }
.product-card img {
    width: 100%;
}
@media screen and (max-width: 992px) {
    .label-title {
        display: none;
    }
}
.product-card {
    // position: relative;
    border: 1px solid $greyLines;
    border-radius: 8px;
    padding: 8px;
    margin-right: 10px;
    // width: 24.1%;
    // height: 100%;

    @media screen and (max-width: 992px) {
        width: 51%;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid $pink;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
    }

    &:hover .btn-buy {
        background-color: $pink;
        color: $white;
    }

    &:hover .btn-buy.toggle {
        background-color: $white;
        color: $mainText;
        
        .add-counter {
            color: $pink;
        }
        
    }

    &.active .product-characteristics {
        display: block;
    }
}
.old-price {
    @include small-text ();
    color: $greyText;
    text-decoration: line-through;
}
.new-price {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}
.product-availability {
    @include vertCentr();
}
.product-availability__text {
    @include caption ();
    padding-left: 4px;
}
.product-buy {
    display: flex;
    justify-content: space-between;
}
.product-price,
.characteristics {
    display: flex;
    flex-direction: column;    
}
.characteristic-title {
    @include caption ();
    color: $greyText;
}
.characteristic-detail {
    @include caption ();
}
.label {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 8px 8px 8px 0px;
    padding: 10px 8px;
    @include caption ();
    font-weight: bold;
    line-height: 16px;
    @include vertCentr();

    &.best-price {
        background-color: $yellow;
    }

    &.gift {
        background-color: $green;
        color: $white;
    }

    &.the-best-price {
        background-color: $pink;
        color: $white;
    }

    span {
        padding-left: 4px;
    }
}

.label-icon {
    height: 16px;
    width: 16px;
}